/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
    position: relative;
    padding: 0;
    line-height: 1.7;
}


:root {
    --orange-color: #FFA458;
    --grey-color: #999;
}


.logoNav {
    width: 120px;
}

@media(min-width:767px){
    .logoNav {
        display: none;
    }
}


.true {
    border: 1px solid green !important ;
}


.false {
    border: 1px solid red !important;
}